


<div class="grid-superior">
    <% for(let i = 0; i < product.length; i++) { %>
        <a href="/modelo/<%= product[i].idUnico %>">
            <div class="card">
                <!-- Imagen -->
                <img src="/img/motos/<%= product[i].img && product[i].img !== '' ? product[i].img : 'predeterminada.png' %>"
                     alt="<%= product[i].nombre %>" 
                     class="card-img">
                
                <!-- Texto de la tarjeta -->
                <div class="card-text">
                    <h3><%= product[i].nombre %></h3>
                    <p>Codigo: <%= product[i].codigo %></p>
                    <!-- <p>observaciones<%= product[i].observaciones %></p> -->
                </div>
            </div>
        </a>
    <% } %>
</div>